{% extends "base.html" %}

{% block title %}White Papers - Rosada Fernandes Blog{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">📄 White Papers</h1>
<ul class="space-y-4">
  {% for post in posts %}
  <li>
    <a href="/post/{{ post.slug }}" class="block p-4 rounded-lg bg-white shadow hover:shadow-md transition">
        <h2 class="text-xl font-semibold">{{ post.title }}</h2>
        <p class="text-sm text-gray-500">{{ post.date.strftime('%d/%m/%Y') }}</p>
        
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
